# Data Cleaning

In [2]:
#import dependencies
import pandas as pd

In [3]:
#read original data and get impressions of structure
data = pd.read_csv("movies.csv")
data.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [4]:
#drop columns not needed and Na
data.drop(columns=['id','imdb_votes', 'tmdb_popularity', 'imdb_id'], axis=1, inplace=True)
data.dropna(subset=['imdb_score','tmdb_score'],inplace=True)
data

,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,tmdb_score
1,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,8.2,8.179
2,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,7.7,7.300
3,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,8.2,7.811
4,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,7.7,7.600
5,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,8.8,8.306
...,...,...,...,...,...,...,...,...,...,...,...
5838,Happiness Ever After,MOVIE,Five years later from where we left our charac...,2021,NaN,99,"['drama', 'romance']",['ZA'],NaN,4.2,7.300
5842,Super Monsters: Once Upon a Rhyme,MOVIE,The Super Monsters rethink exemplary fantasies...,2021,NaN,25,"['animation', 'family']",[],NaN,5.6,6.300
5843,My Bride,MOVIE,The story follows a young man and woman who go...,2021,NaN,93,"['romance', 'comedy', 'drama']",['EG'],NaN,5.0,5.300
5847,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,3.8,6.300
5849,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,7.8,10.000

In [5]:
#get a column with the average score and drop the other two scores; and dropping shows with no runtime
data['Score'] = (data['imdb_score'] + data['tmdb_score'])/2
data = data.drop(columns=['imdb_score', 'tmdb_score'])
data = data.drop(data[data['runtime'] == 0].index)
data

,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,Score
1,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,8.1895
2,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,7.5000
3,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,8.0055
4,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,7.6500
5,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,8.5530
...,...,...,...,...,...,...,...,...,...,...
5838,Happiness Ever After,MOVIE,Five years later from where we left our charac...,2021,NaN,99,"['drama', 'romance']",['ZA'],NaN,5.7500
5842,Super Monsters: Once Upon a Rhyme,MOVIE,The Super Monsters rethink exemplary fantasies...,2021,NaN,25,"['animation', 'family']",[],NaN,5.9500
5843,My Bride,MOVIE,The story follows a young man and woman who go...,2021,NaN,93,"['romance', 'comedy', 'drama']",['EG'],NaN,5.1500
5847,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,5.0500
5849,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,8.9000

In [6]:
#data correction
data['genres'] = data['genres'].str.strip("[]'")
data['genres'] = data['genres'].str.replace("', '", ",")
data['production_countries'] = data['production_countries'].str.strip("[]'")
data['production_countries'] = data['production_countries'].str.replace("', '", ",")
data

,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,Score
1,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"drama,crime",US,NaN,8.1895
2,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"drama,action,thriller,european",US,NaN,7.5000
3,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"fantasy,action,comedy",GB,NaN,8.0055
4,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"war,action","GB,US",NaN,7.6500
5,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"comedy,european",GB,4.0,8.5530
...,...,...,...,...,...,...,...,...,...,...
5838,Happiness Ever After,MOVIE,Five years later from where we left our charac...,2021,NaN,99,"drama,romance",ZA,NaN,5.7500
5842,Super Monsters: Once Upon a Rhyme,MOVIE,The Super Monsters rethink exemplary fantasies...,2021,NaN,25,"animation,family",,NaN,5.9500
5843,My Bride,MOVIE,The story follows a young man and woman who go...,2021,NaN,93,"romance,comedy,drama",EG,NaN,5.1500
5847,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,comedy,CO,NaN,5.0500
5849,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"family,animation,comedy",,1.0,8.9000

In [20]:
data['description'] = data['description'].fillna('Not description provided')
data['age_certification'] = data['age_certification'].fillna('Not Rated')
data['production_countries'] = data['production_countries'].replace("", "Not informed")
data['seasons'] = data['seasons'].fillna(0)
data['genres'] = data['genres'].fillna('Not genres')
data

,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,Score
1,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"drama,crime",US,0,8.1895
2,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"drama,action,thriller,european",US,0,7.5000
3,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"fantasy,action,comedy",GB,0,8.0055
4,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,Not Rated,150,"war,action","GB,US",0,7.6500
5,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"comedy,european",GB,4,8.5530
...,...,...,...,...,...,...,...,...,...,...
5838,Happiness Ever After,MOVIE,Five years later from where we left our charac...,2021,Not Rated,99,"drama,romance",ZA,0,5.7500
5842,Super Monsters: Once Upon a Rhyme,MOVIE,The Super Monsters rethink exemplary fantasies...,2021,Not Rated,25,"animation,family",Not informed,0,5.9500
5843,My Bride,MOVIE,The story follows a young man and woman who go...,2021,Not Rated,93,"romance,comedy,drama",EG,0,5.1500
5847,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,Not Rated,90,comedy,CO,0,5.0500
5849,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,Not Rated,7,"family,animation,comedy",Not informed,1,8.9000

In [14]:
#check for NaN values
data.isna().value_counts()

title  type   description  release_year  age_certification  runtime  genres  production_countries  seasons  Score
False  False  False        False         False              False    False   False                 False    False    5137
dtype: int64

In [25]:
data.dropna()

,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,Score
1,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"drama,crime",US,0,8.1895
2,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"drama,action,thriller,european",US,0,7.5000
3,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"fantasy,action,comedy",GB,0,8.0055
4,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,Not Rated,150,"war,action","GB,US",0,7.6500
5,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"comedy,european",GB,4,8.5530
...,...,...,...,...,...,...,...,...,...,...
5838,Happiness Ever After,MOVIE,Five years later from where we left our charac...,2021,Not Rated,99,"drama,romance",ZA,0,5.7500
5842,Super Monsters: Once Upon a Rhyme,MOVIE,The Super Monsters rethink exemplary fantasies...,2021,Not Rated,25,"animation,family",Not informed,0,5.9500
5843,My Bride,MOVIE,The story follows a young man and woman who go...,2021,Not Rated,93,"romance,comedy,drama",EG,0,5.1500
5847,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,Not Rated,90,comedy,CO,0,5.0500
5849,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,Not Rated,7,"family,animation,comedy",Not informed,1,8.9000

In [32]:
data['genres'] = data['genres'].replace("", "comedy")

In [33]:
#putting data types
data['seasons'] = data['seasons'].astype(int)
data['production_countries'] = data['production_countries'].astype(object)
data['genres'] = data['genres'].astype(object)
data.dtypes

title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                   int32
Score                   float64
dtype: object

In [36]:
#save data to a csv
data.to_csv("clean_movies.csv",index=False)

In [37]:
#import mongo for database
from pymongo import MongoClient

df = pd.read_csv('clean_movies.csv')

In [38]:
#sending data to databse
mongo= MongoClient(port=27017)
db = mongo.NetflixContent

Movies_Series = df
Movies_Series = Movies_Series.to_dict(orient='records')

db.Movies_Series.insert_many(Movies_Series)